{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename= 'styles/style.css')}}">
{% endblock %}

{% block content %}
<main class="background-gradient flex justify-center items-center min-h-screen ">

    <div
        class="form-wrapper bg-white flex flex-col lg:justify-around items-center w-5/6 h-2/3 border-radius px-10 lg:px-20 py-10 gap-8">
        <h2 class="form-title ">Enter your Text for Analysis</h2>
        <form action="/analyze" method="post" class="flex flex-col justify-center items-center gap-8 w-full">

            <textarea class="formtext" name="text" placeholder="Enter your text here..." id="content"></textarea>

            <button class="cta__button">Submit</button>
        </form>
    </div>
</main>


{% endblock %}